* text=auto eol=lf
*.txt       text eol=lf
*.log       text eol=lf
*.sh        text eol=lf
*.py        text eol=lf
*.R         text eol=lf
*.pl        text eol=lf
*.md        text eol=lf
*.tcl       text eol=lf
*.lua       text eol=lf
*.srun      text eol=lf
*.slum      text eol=lf
*.html      text eol=lf
